@model List<TP4.Models.Cadete>

<section>
    <h1 class="text-center">Cargar cadete</h1>
    <article>
        <form asp-controller="Cadetes" asp-action="cargarCadetePost" method="post">
            

        </form>

    </article>
</section>


