@model MVCtest.Models.Cliente
<h1 class="display-4">Esto está en el header de la página.</h1>
<a>
    <p>¡El cliente es @Model.Name y su edad es @Model.Edad!</p>
    <p>Hoy es @DateTime.Now.ToString()</p>
</a>
